<div class="container">
    <div class="tittle">
        <h4> Alumnos registrados</h4>
        <button type="button" (click)="addAlumno()" class="btn btn-primary">Agregar alumno</button>
    </div>


    <table class="table table-hover">
        <thead>
            <tr class="table-dark">
                <th scope="col">Codigo</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Nombres</th>
                <th scope="col">Telefono</th>
                <th scope="col">Correo Electrónico</th>
                <th scope="col">Acción</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let alumno of listAlumnos">
                <td>{{alumno.alumno_codigo}}</td>
                <td>{{alumno.alumno_primerApellido}} {{alumno.alumno_segundoApellido}}</td>
                <td>{{alumno.alumno_nombres}}</td>
                <td>{{alumno.alumno_telefono}}</td>
                <td>{{alumno.alumno_correoElectronico}}</td>
                <td>
                    <button (click)="updateAlumno(alumno.alumno_id || 0)" type="button"
                        class="btn btn-warning btn-sm">Editar</button>
                    <button type="button" class="btn btn-danger btn-sm ms-2">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>